/**
 * todo
 * -----------------------------------------------------------------------------
 */

// 変数
// -------------------------------------- 
$page-background-color: #f5f5f5;
$task-background-color: #fff;
$border-color: #eee;
$icon-color: #CC6699;
$check-color: #66CC99;
$check-border-color: #CEF9DC;
$check-text-color: #ddd;
$text-select-color: #CC6699;

// .Todo
// -------------------------------------- 
.Todo {
  background-color: $page-background-color;
  padding: 20px 30px 100px;

  &__title {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    color: $icon-color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    letter-spacing: -0.03em;
  }

  &__contents {
    max-width: 600px;
    margin: 15px auto 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    border: 1px solid $border-color;
    position: relative;
    background-color: $task-background-color; 
  }

  &__count {
    color: #bbb;
    font-size: 14px;
  }

  &__status {
    display: flex;
  }

  &__statusButton {
    color: #bbb;
    font-size: 14px;
    padding: 3px 5px;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: border-color 200ms ease;

    &:hover {
      border-color: $icon-color;
    }

    &:not(:first-child) {
      margin-left: 10px;
    }

    &.isActive {
      border-color: #bbb;
    }
  }

  &__clear {
    color: #bbb;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: border-color 200ms ease;

    &:hover {
      border-color: $icon-color;
    }
  }

  &__addButton {
    display: block;
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    position: relative;
    background-color: $task-background-color;
    transition: background-color 200ms ease;

    &:hover {
      background-color: $icon-color;

      &::before,
      &::after {
        background-color: $task-background-color;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background-color 200ms ease;
      background-color: $icon-color;
    }

    &::before {
      width: 14px;
      height: 1px;
    }

    &::after {
      width: 1px;
      height: 14px;
    }
  }
}


// .TaskList
// -------------------------------------- 
.TaskList {
  $block: ".TaskList";

  &__title {
    font-size: 16px;
    line-height: 1;
  }

  &__content {
    position: relative;
  }

  &__check {
    position: absolute;
    top: 13px;
    left: 20px;
    // チェックボックス参考
    // @see https://kodocode.net/design-css-checkbox/
    // ----------------------------------------- start
    /* Base for label styling */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 1.95em;
      cursor: pointer;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      border: 1px solid #eee;
      background: #fff;
      border-radius: 50%;
      transition: border-color 200ms ease;
    }
    [type="checkbox"]:checked + label:before {
      border-color: $check-border-color;
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: '\2713\0020';
      position: absolute;
      top: 7px;
      left: 8px;
      font-size: 18px;
      line-height: 0.8;
      color: $check-color;
      transition: all .2s;
      font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked + label:after {
      color: #999;
    }
    [type="checkbox"]:disabled + label {
      color: #aaa;
    }
    /* accessibility */
    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before {
      border: 1px dotted blue;
    }

    /* hover style just for information */
    label:hover:before {
      border: 1px solid #4778d9!important;
    }
    // ----------------------------------------- fin
  }

  &__text {
    display: block;
    width: 100%;
    padding: 10px 70px;
    font-size: 12px;
    line-height: 1.5;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: $task-background-color;
    transition: background-color 200ms ease;

    &::selection {
      background: $text-select-color;
    }

    .isDone & {
      text-decoration: line-through;
      color: $check-text-color;
    }

    &:focus {
      background-color: #efefef;
    }
  }

  &__removeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 200ms ease, border-color 200ms ease;

    &:hover {
      border-color: $icon-color;
    }

    #{$block}__content:hover & {
      opacity: 1;
    }

    > .inner {
      position: relative;
      width: 20px;
      height: 20px;
      display: block;

      &::before, &::after{
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: $icon-color;
        transform: rotate(45deg) translate(-50%, -50%);
        transform-origin:0% 50%;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      
      &::after{
        transform: rotate(-45deg) translate(-50%, -50%);
        transform-origin:0 50%;
        top: 50%;
        left: 50%;
      }
    }
  }
}